<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트 관리 페이지</title>
    <!-- FullCalendar 스타일 시트 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.css">
    <!-- AnyChart 스타일 시트 -->
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css">
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css"/>
    <!-- Custom 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/management.css}">
    <link rel="stylesheet" th:href="@{/css/primary.css}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>
<body>

    <header></header>

    <!-- Navigation Menu -->
    <nav class="top-nav"></nav>
    
    
    <div class="management-container">
        <!-- 사이드 바 -->
        <aside class="sidebar">
        	<div sec:authorize="hasRole('ROLE_CLIENT') or hasRole('ROLE_ADMIN')">
            	<button class="btn-create-project add-task-buttons" id="add-task-button">업무 등록</button>
            </div>
            
            <nav class="nav1">
                <ul>
                    <li><span class="tab-link notification-tab" data-tab="notification-content">업무 알림</span></li>
                    <li><span class="tab-link task-tab" data-tab="task-content">전체 업무</span></li>
                    <li><span class="tab-link gantt-tab" data-tab="gantt-content">간트차트</span></li>
                    <li><span class="tab-link calendar-tab" data-tab="calendar-content">캘린더</span></li>
                    <li><span class="tab-link application-tab" data-tab="application-content">신청목록</span></li>
                    <li><span class="tab-link team-tab" data-tab="team-content">팀원목록</span></li>
                    <li><span>임시저장</span></li>
                </ul>
            </nav>
            <br>
            <br>
            <br>
            <button class="btn-project" id="project-completion-button">프로젝트 완료</button>
            <button class="btn-project" id="project-review-button" style="display: none;">리뷰 작성</button>
            
        </aside>
        <!-- 메인 화면 -->
        <main class="main-content">
            
            <!-- 선택 모달창 -->
		    <div id="select-modal" class="modal hidden">
		        <div class="modal-content">
		            <h3>일정 추가</h3>
		            <p>어떤 일정을 추가하시겠습니까?</p>
		            <button id="add-task" class="add-task-buttons">업무 등록</button>
		            <button id="add-event">업무 외 일정 추가</button>
		            <button class="btn-close" id="close-select-modal">취소</button>
		        </div>
		    </div>
            
            <section class="content">
            	<div id="notification-content" class="tab-content active">
		            <h3>업무 알림</h3>
		            <ul id="notification-list"></ul>
		        </div>
            
                <div id="task-content" class="tab-content">                    
                    <div id="task-list">
					    <div class="dropdown-container">
					        <button class="dropdown-toggle">기능 제목</button>
					        <div class="dropdown-content">
					            <table class="task-table">
					                <thead>
					                    <tr>
					                        <th>업무 제목</th>
					                        <th>설명</th>
					                        <th>상태</th>
					                        <th>우선순위</th>
					                        <th>시작 날짜</th>
					                        <th>종료 날짜</th>
					                        <th>프리랜서 ID</th>
					                        <th>상태 변경</th>
					                    </tr>
					                </thead>
					                <tbody>
					                    <!-- 업무 목록이 여기에 추가됩니다 -->
					                </tbody>
					            </table>
					        </div>
					    </div>
					    <!-- 추가 드롭다운 컨테이너... -->
					</div>
                </div>
                
                <div id="gantt-content" class="tab-content">
				    <!-- Gantt 차트 컨테이너 -->
				    <div id="gantt-chart"></div>
				    
				    <!-- Hidden input field to store the actual DB ID -->
				    <input type="hidden" id="db-id" value="">
				    
				    <!-- 업데이트 버튼 -->
				    <div class="update-container">
				        <button id="open-update-schedule-modal" class="button">실제 일정 업데이트</button>
				        <button id="open-update-progress-modal" class="button">진행도 업데이트</button>
				    </div>
				</div>
				
				<!-- 실제 일정 업데이트 모달 -->
				<div id="update-schedule-modal" class="gantt-modal">
				    <div class="gantt-modal-content">
				        <span class="close" id="close-update-schedule-modal">&times;</span>
				        <h2>실제 일정 업데이트</h2>
				        <label for="entityType-selectDate">Entity Type:</label>
				        <select id="entityType-selectDate">
				            <option value="task">Task</option>
				        </select>
				        
				        <label for="name-selectDate">Name:</label>
				        <select id="name-selectDate">
				            <!-- Options will be populated dynamically -->
				        </select>
				        
				        <label for="actual-start-date">실제 시작일:</label>
				        <input type="datetime-local" id="actual-start-date" class="input-field">
				        
				        <label for="actual-end-date">실제 종료일:</label>
				        <input type="datetime-local" id="actual-end-date" class="input-field">
				        
				        <div class="gantt-modal-buttons">
				            <button id="update-schedule-confirm" class="button">확인</button>
				        </div>
				    </div>
				</div>
				
				<!-- 진행도 업데이트 모달 -->
				<div id="update-progress-modal" class="gantt-modal">
				    <div class="gantt-modal-content">
				        <span class="close" id="close-update-progress-modal">&times;</span>
				        <h2>진행도 업데이트</h2>
				        <label for="entityType-select">Entity Type:</label>
				        <select id="entityType-select">
				            <option value="task">Task</option>
				            <option value="function">Function</option>
				        </select>
				        
				        <label for="name-select">Name:</label>
				        <select id="name-select">
				            <!-- Options will be populated dynamically -->
				        </select>
				        
				        <label for="progress-value">진행도(%):</label>
				        <input type="range" id="progress-value" min="0" max="100" value="0" oninput="updateProgressDisplay()">
				        <span id="progress-value-display">0%</span>
				        
				        <div class="gantt-modal-buttons">
				            <button id="update-progress-confirm" class="button">확인</button>
				        </div>
				    </div>
				</div>
				
                <div id="calendar-content" class="tab-content calendar-content">
                    <div id="calendar"></div>
                </div>
                <div id="application-content" class="tab-content">
                    <!-- 신청 목록이 여기에 동적으로 로드됩니다 -->
                </div>

                <div id="team-content" class="tab-content">
                    <!-- 신청 목록이 여기에 동적으로 로드됩니다 -->
                </div>
            </section>
        </main>
    </div>
    
    <!-- 업무 등록 Modal 창 -->
    <div id="task-modal" class="modal task-modal hidden">
        <div class="modal-content">
            <h3>업무 등록</h3>
            <form id="task-form">
                <input type="hidden" id="project-num" name="projectNum" readonly> <!-- projectNum 값을 동적으로 설정할 태그 -->
            
            	<!-- 사용자 정보를 담은 div -->
				<div id="user-data" th:data-role="${roleName}" th:data-id="${userId}"></div> <!-- 사용자 정보 -->
            
                <!-- 기능 분류 선택 및 새 기능 추가 -->
                <div class="form-group">
                    <label for="function-select">기능 분류</label>
                    <select id="function-select">
                        <option value="">새 기능 추가</option>
                        <!-- 기능 분류 목록이 여기에 동적으로 삽입됩니다 -->
                    </select>
                    
                    <input type="text" id="new-function-name" placeholder="새 기능 입력" style="display: none;" autocomplete='off'>
                    <!-- <button type="button" id="add-new-function-btn" style="display: none;">확인</button> -->
                </div>
                <div class="form-group">
                    <label for="task-title">업무명</label>
                    <input type="text" id="task-title" autocomplete='off' required>
                </div>
                <div class="form-group">
                    <label for="task-description">업무 설명</label>
                    <textarea id="task-description" rows="4" autocomplete='off' required></textarea>
                </div>
                <div class="form-group">
                    <label for="task-start-date">시작 날짜</label>
                    <input type="datetime-local" id="task-start-date" autocomplete='off' required>
                </div>
                <div class="form-group">
                    <label for="task-end-date">종료 날짜</label>
                    <input type="datetime-local" id="task-end-date" autocomplete='off' required>
                </div>
                <div class="form-group">
                    <label for="task-status">상태</label>
                    <input type="text" value="요청(REQUEST)" required readonly>
                    
                    <!-- 
                    	<select id="task-status" required>
                        	<option value="request">요청</option>
                        	<option value="inprogress">진행</option>
                        	<option value="feedback">피드백</option>
                        	<option value="completed">완료</option>
                        	<option value="hold">보류</option>
                    	</select>
                     -->
                </div>
                <div class="form-group">
                    <label for="task-priority">우선순위</label>
                    <select id="task-priority" required>
                        <option value="low">낮음</option>
                        <option value="medium">보통</option>
                        <option value="high">높음</option>
                        <option value="emergency">긴급</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="task-assignee">담당자</label>
                    <input type="text" id="task-assignee" autocomplete='off' readonly required>
					<div id="autocomplete-list" class="autocomplete-list hidden"></div>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn-close" id="close-task-modal">취소</button>
                    <!-- <button type="submit" class="btn-save">저장</button> -->
                    <button type="button" class="btn-save" id="save-function-and-task-btn">저장</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- 업무 상태 변경 Modal 창 -->
	<div id="status-change-modal" class="modal hidden">
	    <div class="modal-content">
	        <h3>업무 상태 변경</h3>
	        <label for="new-status">새로운 업무 상태 선택:</label>
	        <select id="new-status">
	            <option value="INPROGRESS">진행</option>
	            <option value="FEEDBACK">피드백</option>
	            <option value="COMPLETED">완료</option>
	            <option value="APPROVAL">승인</option>
	            <option value="HOLD">보류</option>
	        </select>
	        <div class="modal-buttons">
	            <button id="cancel-button" class="btn-cancel">취소</button>
	            <button id="change-button" class="btn-change">변경</button>
	        </div>
	    </div>
	</div>
	
	<!-- 피드백 Modal 창 -->
	<div id="unique-feedback-modal" class="modal hidden">
	    <div class="modal-content">
	        <h3>피드백 작성</h3>
	        <label for="unique-feedback-message">피드백 메시지:</label>
	        <textarea id="unique-feedback-message" rows="4" required></textarea>
	        <div class="modal-buttons">
	            <button type="button" class="btn-close" id="close-feedback-modal">취소</button>
	            <button type="button" class="btn-save" id="unique-feedback-submit-button">전송</button>
	        </div>
	    </div>
	</div>
    
    <!-- 캘린더 일정 추가 Modal 창 -->
    <div id="event-modal" class="modal hidden">
        <div class="modal-content">
            <h3>일정 추가</h3>
            <form id="event-form">
                <div class="form-group">
                    <label for="event-title">일정 제목</label>
                    <input type="text" id="event-title" required>
                </div>
                <div class="form-group">
                    <label for="event-type">일정 형식</label>
                    <select id="event-type" required>
                        <option value="1">반복 일정</option>
                        <option value="2">단일 기간</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="event-start-date">시작 날짜</label>
                    <input type="date" id="event-start-date" required>
                </div>
                <div class="form-group">
                    <label for="event-end-date">종료 날짜</label>
                    <input type="date" id="event-end-date" required>
                </div>
                <div class="form-group">
                    <label for="event-start-time">시작 시간</label>
                    <input type="time" id="event-start-time" required>
                </div>
                <div class="form-group">
                    <label for="event-end-time">종료 시간</label>
                    <input type="time" id="event-end-time" required>
                </div>
                <div class="modal-buttons">
                    <button type="button" class="btn-close" id="close-event-modal">취소</button>
                    <button type="submit" class="btn-save">저장</button>
                </div>
            </form>
        </div>
    </div>
    <footer></footer>
    <div id="chat-container"></div>
    <!-- FullCalendar 스크립트 파일 -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
    <!-- AnyChart 스크립트 파일 -->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-gantt.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
    <!-- jQuery -->
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<!-- jQuery UI JavaScript -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- Custom 스크립트 파일 -->
    <script src="/js/management.js" defer></script>
</body>
<script>
	$(document).ready(function () {
	    $("#chat-container").load("/chat/view", function () {
	        // 외부 스타일시트 처리
	        $("#chat-container link[rel='stylesheet']").each(function() {
	            var href = $(this).attr('href');
	            $.get(href, function(css) {
	                var modifiedCss = css.replace(/([^\r\n,{}]+)(,(?=[^}]*{)|\s*{)/g, "#chat-container $1$2");
	                $('<style>').text(modifiedCss).appendTo('head');
	            });
	            $(this).remove(); // 원래의 link 태그 제거
	        });
	
	        // 인라인 스타일 처리
	        $("#chat-container style").each(function() {
	            var css = $(this).text();
	            var modifiedCss = css.replace(/([^\r\n,{}]+)(,(?=[^}]*{)|\s*{)/g, "#chat-container $1$2");
	            $(this).text(modifiedCss);
	        });
	    });
	    
	    $('header').load("/header", function () {
	    	});
	    $('.top-nav').load("/nav", function () {
		});
	    $('footer').load("/footer", function () {
		});
	    
	});
</script>
</html>
