<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<style>
		
	</style>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		
	</script>
</head>
<body>
	<h1>[ 판매상품 상세보기 ]</h1>

	<p>번호:	<span th:text="${board.boardNum}"></span></p>
	<p>판매자: <span th:text="${board.memberId}"></span></p>
	<p>카테고리: <span th:text="${board.category}"></span></p>
    <p>제목: <span th:text="${board.title}"></span></p>
    <p>내용: <span th:text="${board.contents}"></span></p>
    <p>판매가격: <span th:text="${board.price}"></span></p>
    <p>상태: <span th:text="${board.soldout == 0 ? '판매중' : '판매완료'}"></span></p>
    <p>구매자: <span th:if="${board.soldout == 1}" th:text="${#authentication.name}"></span>
        <span th:if="${board.soldout == 0}">-</span></p>
    
    <form th:if="${#authentication.name == board.memberId}" th:action="@{/board/delete}" method="post" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
        <input type="hidden" name="boardNum" th:value="${board.boardNum}" />
        <button type="submit">삭제하기</button>
    </form>

    <form th:if="${#authentication.name != board.memberId && board.soldout == 0}" th:action="@{/board/buy}" method="post" onsubmit="return confirm('정말로 구매하시겠습니까?');">
        <input type="hidden" name="boardNum" th:value="${board.boardNum}" />
        <button type="submit">구매하기</button>
    </form>
    
    <form th:action="@{/board/replywrite}" method="post">
        <span>리플입력 <input type="text" name="replyText" id="replyText" required></span>
        <input type="hidden" name="boardnum" th:value="${board.boardNum}">
        <input type="hidden" name="member_id" th:value="${board.memberId}">
        <button type="submit">저장</button>
    </form>
</body>
</html>