<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <h1 th:text="${board.projectTitle}">프로젝트 제목</h1>

    <p>작성자: <span th:text="${board.clientId}">작성자</span></p>
    <p>근무 시작일: <span th:text="${board.projectStartDate}">근무 시작일</span></p>
    <p>모집 마감일: <span th:text="${board.recruitDeadline}">모집 마감일</span></p>
    <!-- 최종 출력 리스트 -->
    <div>
        <h3>업무 범위 및 카테고리별 인원수</h3>
        <ul>
            <li th:each="output : ${board.outputList}" th:text="${output}"></li>
        </ul>
    </div>

    <!-- 요구 기술 스택 출력 -->
    <div>
        <h3>요구 기술 스택</h3>
        <p th:each="skill : ${board.selectedSkills}" th:text="${skill}"></p>
    </div>
</body>
</html>