<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>게시판</title>
	<style>

	</style>
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('#writeForm').submit(function() {

				const category = document.getElementById("category").value;
	            const title = document.getElementById("title").value;
	            const contents = document.getElementById("contents").value;
	            const price = document.getElementById("price").value;

	            if (category === "카테고리를 선택하세요") {
	                alert("카테고리를 선택하세요.");
	                return false;
	            }
	            
	            if (title.trim() === "") {
	                alert("제목을 입력하세요.");
	                return false;
	            }
	            
	            if (contents.trim() === "") {
	                alert("글내용을 입력하세요.");
	                return false;
	            }
	            
	            if (price.trim() === "" || isNaN(price.trim())) {
	                alert("가격을 숫자로 입력하세요.");
	                return false;
	            }

	            return true;
			})
		});
    </script>
</head>
<body>
	<h1>[ 판매상품 등록 ]</h1>

	<form id="writeForm" th:action="@{/board/write}" method="post">
        <label for="category">카테고리:</label>
        <select id="category" name="category">
            <option>카테고리를 선택하세요</option>
            <option>컴퓨터</option>
            <option>카메라</option>
            <option>자동차</option>
        </select>
        <br><br>

        <label for="title">제목:</label>
        <input type="text" id="title" name="title">
        <br><br>

        <label for="contents">내용:</label>
        <textarea id="contents" name="contents"></textarea>
        <br><br>

        <label for="price">판매가격:</label>
        <input type="text" id="price" name="price">
        <br><br>

        <button type="submit">저장</button>
    </form>
	
</body>
</html>