<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>finders</title>
</head>
<body>
    <h1>[ Freelancer ]</h1>

    <th:block sec:authorize="not isAuthenticated()">
        <p><a th:href="@{/member/join}">회원가입</a></p>
        <p><a th:href="@{/member/login}">로그인</a></p>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <p><a th:href="@{/member/logout}">로그아웃</a></p>
        <p><a th:href="@{/portfolio/edit}">포트폴리오 편집</a></p>
        <p><a th:href="@{/board/view}">거래 게시판</a></p>
    </th:block>
</body>
</html>