<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/css/joinForm1.css}">
    <script th:src="@{/js/joinForm.js}"></script>
</head>
<body>
	 <div>
        <h1>회원가입</h1>

        <div class="tabs">
            <button class="active" data-tab="freelancer-join">프리랜서 회원가입</button>
            <button data-tab="client-join">기업 회원가입</button>
        </div>

        <!-- 프리랜서 회원가입 폼 -->
        <div id="freelancer-join" class="tab-content active">
            <form id="freelancer-join-form" th:action="@{/member/join}" method="post">
                <label for="freelancer-id">아이디:</label>
                <input type="text" id="freelancer-id" name="memberId" required><br>
                <label for="freelancer-password">비밀번호:</label>
                <input type="password" id="freelancer-password" name="memberPw" required><br>
                <label for="freelancer-name">이름:</label>
                <input type="text" id="freelancer-name" name="memberName" required><br>
                <label for="freelancer-email">이메일:</label>
                <input type="email" id="freelancer-email" name="email" required><br>
                <input type="hidden" name="roleName" value="ROLE_FREELANCER" />
                
                <!-- 프리랜서 회원 정보 -->
                
                <label for="freelancer-phone">휴대전화:</label>
                <input type="text" id="freelancer-phone" name="freelancerPhone"><br>
                <label for="freelancer-address">주소:</label>
                <input type="text" id="freelancer-address" name="address"><br>
                <label for="freelancer-postalcode">우편번호:</label>
                <input type="text" id="freelancer-postalcode" name="postalCode"><br>
                <label for="freelancer-country">체류 중인 국가:</label>
                <input type="text" id="freelancer-country" name="country"><br>
                <label for="freelancer-lastlogin">최종 로그인 날짜:</label>
                <button type="submit">회원가입</button>
                <div class="errorMsg" th:if="${param.error}"><script>alert('회원가입에 실패했습니다.')</script></div>
            </form>
        </div>

        <!-- 클라이언트 회원가입 폼 -->
        <div id="client-join" class="tab-content">
            <form id="client-join-form" th:action="@{/member/join}" method="post">
                <label for="client-id">아이디:</label>
                <input type="text" id="client-id" name="memberId" required><br>
                <label for="client-password">비밀번호:</label>
                <input type="password" id="client-password" name="memberPw" required><br>
                <label for="client-name">이름:</label>
                <input type="text" id="client-name" name="memberName" required><br>
                <label for="client-email">이메일:</label>
                <input type="email" id="client-email" name="email" required><br>
                <input type="hidden" name="roleName" value="ROLE_CLIENT" />
                
                <!-- 클라이언트 회원 정보 -->
                
                <label for="client-phone">클라이언트 연락처</label>
                <input type="text" id="client-phone" name="clientPhone"><br>
                <label for="client-address">클라이언트 주소</label>
                <input type="text" id="client-address" name="clientAddress"><br>
                <label for="client-industry">산업 분야</label>
                <input type="text" id="client-industry" name="industry"><br>
                <label for="client-foundeddate">설립일</label>
                <input type="date" id="client-foundeddate" name="foundedDate"><br>
                <label for="client-employeecount">사원 수</label>
                <input type="number" id="client-employeecount" name="employeeCount"><br>
                <label for="client-website">도메인</label>
                <input type="text" id="client-website" name="website"><br>
                
                <button type="submit">회원가입</button>
                <div class="errorMsg" th:if="${param.error}"><script>alert('회원가입에 실패했습니다.')</script></div>
            </form>
        </div>
    </div>
</body>
</html>