<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" th:href="@{/css/joinForm.css}">

<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/joinForm.js}" defer></script>
<script th:src="@{/js/popup_2.js}"></script>

</head>
<body>
	<div>
		<h1>회원가입</h1>

		<div class="tabs">
			<button class="active" data-tab="freelancer-join">프리랜서 회원가입</button>
			<button data-tab="client-join">기업 회원가입</button>
		</div>

		<!-- 오류 메시지 표시 -->
		<div th:if="${errorMessage}" style="color: red;">
			<p th:text="${errorMessage}"></p>
		</div>

		<!-- 프리랜서 회원가입 폼 -->
		<div id="freelancer-join" class="tab-content active">
			<form id="freelancer-join-form" th:action="@{/member/join}"
				method="post" enctype="multipart/form-data">
				<!-- 프로필 이미지 업로드 -->
				<label for="freelancer-profile-img">프로필 이미지</label> <input
					type="file" id="freelancer-profile-img" name="profileImg"><br>

				<!-- 프리랜서 회원 기본 정보 -->
				<h1>기본 정보</h1>
				<label for="freelancer-id">아이디</label> <input type="text"
					id="freelancer-id" name="memberId" required readonly="readonly">
				<input type="button" id="freelancerIdCheck" value="ID 중복확인">
				<br> <label for="freelancer-password">비밀번호</label> <input
					type="password" id="freelancer-password" name="memberPw"
					placeholder="비밀번호는 8자 이상 20자 이하로 입력하세요." required><br>
				<input type="password" id="freelancer-password-check"
					placeholder="동일한 비밀번호를 재입력하세요."><br> <label
					for="freelancer-name">이름</label> <input type="text"
					id="freelancer-name" name="memberName" required><br> <label
					for="freelancer-email">이메일</label> <input type="email"
					id="freelancer-email" name="email" required><br> <input
					type="hidden" name="roleName" value="ROLE_FREELANCER" />

				<h1>상세 정보</h1>
				<!-- 프리랜서 회원 상세 정보 -->
				<label for="freelancer-phone">연락처</label> <input type="text"
					id="freelancer-phone" name="freelancerPhone"><br>

				<!-- 카카오 확인 -->
				<input type="text" id="sample6_postcode" name="postalCode"
					placeholder="우편번호" readonly="readonly"> <input
					type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
				<input type="text" id="sample6_address" name="address"
					placeholder="주소" readonly="readonly"><br> <input
					type="text" id="sample6_detailAddress" name="detailAddress"
					placeholder="상세주소"> <input type="text"
					id="sample6_extraAddress" name="extraAddress" placeholder="참고항목">
				<!-- 카카오 확인 끝-->

				<label for="freelancer-country">체류 중인 국가</label> <input type="text"
					id="freelancer-country" name="country"><br>

				<div id="section5" class="section">
					<input type="hidden" id="selectedSkills" name="selectedSkills">
					<!-- 관련 기술 선택 섹션 -->
					<div class="tech-section">
						<h2>보유 기술</h2>
						<p>프로젝트에서 활용 가능한 기술에 대해 모두 선택해주세요.(최소 1개 이상)</p>
						<div class="tech-buttons">
							<div class="tech-button" data-tech="Python"
								onclick="toggleTech(this)">Python</div>
							<div class="tech-button" data-tech="Javascript"
								onclick="toggleTech(this)">Javascript</div>
							<div class="tech-button" data-tech="JAVA"
								onclick="toggleTech(this)">JAVA</div>
							<div class="tech-button" data-tech="C#"
								onclick="toggleTech(this)">C#</div>
							<div class="tech-button" data-tech="C" onclick="toggleTech(this)">C</div>
							<div class="tech-button" data-tech="C++"
								onclick="toggleTech(this)">C++</div>
							<div class="tech-button" data-tech="PHP"
								onclick="toggleTech(this)">PHP</div>
							<div class="tech-button" data-tech="RUBY"
								onclick="toggleTech(this)">RUBY</div>
							<div class="tech-button" data-tech="HTML"
								onclick="toggleTech(this)">HTML</div>
							<div class="tech-button" data-tech="CSS"
								onclick="toggleTech(this)">CSS</div>
							<div class="tech-button" data-tech="iOS"
								onclick="toggleTech(this)">iOS</div>
							<div class="tech-button" data-tech="안드로이드"
								onclick="toggleTech(this)">안드로이드</div>
						</div>
					</div>
				</div>

				<button type="submit">회원가입</button>
				<div class="errorMsg" th:if="${param.error}">
					<script>
						alert('회원가입에 실패했습니다.')
					</script>
				</div>
			</form>
		</div>

		<!-- client 회원가입 폼 -->
		<div id="client-join" class="tab-content">
			<form id="client-join-form" th:action="@{/member/join}" method="post"
				enctype="multipart/form-data">
				<label for="client-profile-img">프로필 이미지</label> <input type="file"
					id="client-profile-img" name="profileImg"><br>

				<h1>기본 정보</h1>
				<!-- client 회원 기본 정보 -->
				<label for="client-id">아이디</label> <input type="text" id="client-id"
					name="memberId" required readonly="readonly"><br> <input
					type="button" id="clientIdCheck" value="ID 중복확인"> <br>
				<label for="client-password">비밀번호</label> <input type="password"
					id="client-password" name="memberPw"
					placeholder="비밀번호는 8자 이상 20자 이하로 입력하세요." required><br>
				<input type="password" id="client-password-check"
					placeholder="동일한 비밀번호를 재입력하세요."><br> <label
					for="client-name">이름</label> <input type="text" id="client-name"
					name="memberName" required><br> <label
					for="client-email">이메일</label> <input type="email"
					id="client-email" name="email" required><br> <input
					type="hidden" name="roleName" value="ROLE_CLIENT" />

				<h1>상세 정보</h1>
				<!-- client 회원 상세 정보 -->
				<label for="client-phone">연락처</label> <input type="text"
					id="client-phone" name="clientPhone"><br>
				<!-- 카카오 확인 -->
				<input type="text" id="sample6_postcode_client" name="postalCode"
					placeholder="우편번호" readonly="readonly"> <input
					type="button" onclick="sample6_execDaumPostcode_client()"
					value="우편번호 찾기"><br> <input type="text"
					id="sample6_address_client" name="address" placeholder="주소"
					readonly="readonly"><br> <input type="text"
					id="sample6_detailAddress_client" name="detailAddress"
					placeholder="상세주소"> <input type="text"
					id="sample6_extraAddress_client" name="extraAddress"
					placeholder="참고항목">
				<!-- 카카오 확인 끝-->
				<label for="client-industry">산업 분야</label> <input type="text"
					id="client-industry" name="industry"><br> <label
					for="client-foundeddate">설립일</label> <input type="date"
					id="client-foundeddate" name="foundedDate"><br> <label
					for="client-employeecount">사원 수</label> <input type="number"
					id="client-employeecount" name="employeeCount"><br> <label
					for="client-website">사이트 URL</label> <input type="text"
					id="client-website" name="website"><br>

				<div id="section6" class="section">
					<input type="hidden" id="selectedField" name="selectedField">
					<!-- 관련 기술 선택 섹션 -->
					<div class="field-section">
						<h2>보유 기술</h2>
						<p>프로젝트에서 활용 가능한 기술에 대해 모두 선택해주세요.(최소 1개 이상)</p>
						<div class="field-buttons">
							<div class="field-button" data-field="개발"
								onclick="toggleTech(this)">개발</div>
							<div class="field-button" data-field="디자인"
								onclick="toggleTech(this)">디자인</div>
							<div class="field-button" data-field="기획"
								onclick="toggleTech(this)">기획</div>
							<div class="category-button" data-field="기타"
								onclick="toggleTech(this)">기타</div>
						</div>
					</div>
				</div>

				<div id="section7" class="section">
					<input type="hidden" id="selectedCategory" name="selectedCategory">
					<!-- 관련 기술 선택 섹션 -->
					<div class="category-section">
						<h2>보유 기술</h2>
						<p>프로젝트에서 활용 가능한 기술에 대해 모두 선택해주세요.(최소 1개 이상)</p>
						<div class="category-buttons">
							<div class="category-button" data-category="Web"
								onclick="toggleTech(this)">Web</div>
							<div class="category-button" data-category="안드로이드"
								onclick="toggleTech(this)">안드로이드</div>
							<div class="category-button" data-category="iOS"
								onclick="toggleTech(this)">iOS</div>
							<div class="category-button" data-category="PC프로그램"
								onclick="toggleTech(this)">PC프로그램</div>
							<div class="category-button" data-category="임베디드"
								onclick="toggleTech(this)">임베디드</div>
							<div class="category-button" data-category="기타"
								onclick="toggleTech(this)">기타</div>
						</div>
					</div>
				</div>



				<button type="submit">회원가입</button>
				<div class="errorMsg" th:if="${param.error}">
					<script>
						alert('회원가입에 실패했습니다.')
					</script>
				</div>
			</form>
		</div>
	</div>
</body>
<script
	src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
.wrong_text {
	font-size: 1rem;
	color: #f44e38;
	letter-spacing: -.2px;
	font-weight: 300;
	margin: 8px 0 2px;
	line-height: 1em;
	display: none
}
</style>
</html>
