<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Finders</title>
	<link rel="stylesheet" th:href="@{/css/primary.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/validation.js}"></script>
    <script th:src="@{/js/updateForm.js}" defer></script>
    <script th:src="@{/js/popup_2.js}"></script>
</head>
<body>
     <header></header>

    <!-- Navigation Menu -->
    <nav class="top-nav"></nav>

	<div class="main-container">
	<aside class="sidebar"></aside>


	<main>
	        <!-- 프리랜서 수정 폼 -->
        <div sec:authorize="hasRole('ROLE_FREELANCER')" id="freelancer-update">
            <form id="freelancer-update-form" th:action="@{/member/update/freelancer}" method="post" enctype="multipart/form-data">
				<!-- 프로필 이미지 업로드 -->
				<div class="profile-section">
				    <label for="profile-img">프로필 이미지</label>
				    <div class="profile-img-container">
				        <img id="preview" th:src="${profileImgUrl}" alt="프로필 이미지 미리보기" class="profile-preview">
				        <input type="file" id="profile-img" name="profileImg" 
				               accept="image/*" onchange="previewImage(this, 'preview')">
				    </div>
				</div>
				                <!-- 프리랜서 회원 기본 정보 -->
                <h1>기본 정보</h1>
                <label for="freelancer-id">아이디</label>
                <input type="text" id="freelancer-id" name="memberId" required readonly="readonly" th:value="${#authentication.name}">
                <label for="freelancer-password">비밀번호</label>
                <input type="password" id="freelancer-password" name="memberPw" placeholder="비밀번호는 8자 이상 20자 이하로 입력하세요."><br>
                <input type="password" id="freelancer-password-check" placeholder="동일한 비밀번호를 재입력하세요."><br>
                <label for="freelancer-name">이름</label>
                <input type="text" id="freelancer-name" name="memberName" th:value="${member.memberName}" readonly="readonly" required><br>
                <label for="freelancer-email">이메일</label>
                <input type="email" id="freelancer-email" name="email" th:value="${member.email}" required><br>
                <input type="hidden" name="roleName" value="ROLE_FREELANCER" />
                
                <h1>상세 정보</h1>
                <!-- 프리랜서 회원 상세 정보 -->
                <label for="freelancer-phone">연락처</label>
                <input type="text" id="freelancer-phone" name="freelancerPhone" th:value="${member.freelancer.freelancerPhone}"><br>
                 
                <!-- 카카오 확인 -->
                <label for="freelancer-address">우편번호</label>
                <input type="text" id="sample6_postcode" name="postalCode" placeholder="우편번호" readonly="readonly" th:value="${member.freelancer.postalCode}">
    			<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>

                <label for="client-address">주소</label>
    			<input type="text" id="sample6_address" name="address" placeholder="주소" readonly="readonly" th:value="${member.freelancer.address}">
   				<input type="text" id="sample6_detailAddress" name="detailAddress" placeholder="상세주소" th:value="${member.freelancer.detailAddress}">
    			<input type="text" id="sample6_extraAddress" name="extraAddress" placeholder="참고항목" th:value="${member.freelancer.extraAddress}">
                <!-- 카카오 확인 끝-->
                
                <div id="section5" class="section">
				        <input type="hidden" id="selectedSkills" name="skills">
				        <!-- 관련 기술 선택 섹션 -->
				        <div class="tech-section">
				            <h2>보유 기술</h2>
				            <p>프로젝트에서 활용 가능한 기술에 대해 모두 선택해주세요.(최소 1개 이상)</p>
				            <div class="tech-buttons">
				                <div class="tech-button" data-tech="Python" onclick="toggleTech(this)">Python</div>
				                <div class="tech-button" data-tech="Javascript" onclick="toggleTech(this)">Javascript</div>
				                <div class="tech-button" data-tech="JAVA" onclick="toggleTech(this)">JAVA</div>
				                <div class="tech-button" data-tech="C#" onclick="toggleTech(this)">C#</div>
				                <div class="tech-button" data-tech="C" onclick="toggleTech(this)">C</div>
				                <div class="tech-button" data-tech="C++" onclick="toggleTech(this)">C++</div>
				                <div class="tech-button" data-tech="PHP" onclick="toggleTech(this)">PHP</div>
				                <div class="tech-button" data-tech="RUBY" onclick="toggleTech(this)">RUBY</div>
				                <div class="tech-button" data-tech="HTML" onclick="toggleTech(this)">HTML</div>
				                <div class="tech-button" data-tech="CSS" onclick="toggleTech(this)">CSS</div>
				                <div class="tech-button" data-tech="iOS" onclick="toggleTech(this)">iOS</div>
				                <div class="tech-button" data-tech="안드로이드" onclick="toggleTech(this)">안드로이드</div>
				            </div>
				        </div>
					</div>
                
                <!-- 프리랜서용 관심 분야 선택 섹션 추가 -->
                <div id="section6-freelancer" class="section">
                    <input type="hidden" id="selectedFieldFreelancer" name="selectedField">
                    <div class="field-section">
                        <h2>관심 분야</h2>
                        <p>관심 있는 업무 분야를 선택할 수 있습니다.(최소 1개 이상)</p>
                        <div class="field-buttons">
                            <div class="field-button" data-field="개발" onclick="toggleFieldFreelancer(this)">개발</div>
                            <div class="field-button" data-field="디자인" onclick="toggleFieldFreelancer(this)">디자인</div>
                            <div class="field-button" data-field="기획" onclick="toggleFieldFreelancer(this)">기획</div>
                            <div class="field-button" data-field="기타" onclick="toggleFieldFreelancer(this)">기타</div>
                        </div>
                    </div>
                </div>

                <!-- 프리랜서용 관심 카테고리 선택 섹션 추가 -->
                <div id="section7-freelancer" class="section">
                    <input type="hidden" id="selectedCategoryFreelancer" name="selectedCategory">
                    <div class="category-section">
                        <h2>관심 카테고리</h2>
                        <p>관심 있는 카테고리를 선택할 수 있습니다.(최소 1개 이상)</p>
                        <div class="category-buttons">
                            <div class="category-button" data-category="Web" onclick="toggleCategoryFreelancer(this)">Web</div>
                            <div class="category-button" data-category="안드로이드" onclick="toggleCategoryFreelancer(this)">안드로이드</div>
                            <div class="category-button" data-category="iOS" onclick="toggleCategoryFreelancer(this)">iOS</div>
                            <div class="category-button" data-category="PC프로그램" onclick="toggleCategoryFreelancer(this)">PC프로그램</div>
                            <div class="category-button" data-category="임베디드" onclick="toggleCategoryFreelancer(this)">임베디드</div>
                            <div class="category-button" data-category="기타" onclick="toggleCategoryFreelancer(this)">기타</div>
                        </div>
                    </div>
                </div>
                
                    <button class="submit-button" type="submit" >회원 정보 수정</button>
                <div class="errorMsg" th:if="${param.error}"><script>alert('회원가입에 실패했습니다.')</script></div>
            </form>
            
        </div>

        <!-- client 수정 폼 -->
        <div sec:authorize="hasRole('ROLE_CLIENT')" id="client-update">
            <form id="client-update-form" th:action="@{/member/update/client}" method="post" enctype="multipart/form-data">
                <div class="profile-section">
                    <label for="profile-img">프로필 이미지</label>
                        <div class="profile-img-container">
                            <img id="preview" th:src="${profileImgUrl}" alt="프로필 이미지 미리보기" class="profile-preview">
                            <input type="file" id="profile-img" name="profileImg"
                                accept="image/*" onchange="previewImage(this, 'preview')">
                        </div>
                </div>


                <h1>기본 정보</h1>
                <!-- client 회원 기본 정보 -->
                <label for="client-id">아이디</label>
                <input type="text" id="client-id" name="memberId" required readonly="readonly" th:value="${#authentication.name}"><br>
                <br>
                <label for="client-password">비밀번호</label>
                <input type="password" id="client-password" name="memberPw" placeholder="비밀번호는 8자 이상 20자 이하로 입력하세요."><br>
                <input type="password" id="client-password-check" placeholder="동일한 비밀번호를 재입력하세요."><br>
                <label for="client-name">이름</label>
                <input type="text" id="client-name" name="memberName" required th:value="${member.memberName}" readonly="readonly"><br>
                <label for="client-email">이메일</label>
                <input type="email" id="client-email" name="email" required th:value="${member.email}"><br>
                <input type="hidden" name="roleName" value="ROLE_CLIENT" />
                
                <h1>상세 정보</h1>
                <!-- client 회원 상세 정보 -->
                <label for="client-phone">연락처</label>
                <input type="text" id="client-phone" name="clientPhone" th:value="${member.client.clientPhone}"><br>
                <!-- 카카오 확인 -->
                <label for="client-address">우편번호</label>
                <input type="text" id="sample6_postcode_client" name="postalCode" placeholder="우편번호" readonly="readonly" th:value="${member.client.postalCode}">
    			<input type="button" onclick="sample6_execDaumPostcode_client()" value="우편번호 찾기"><br>

                <label for="client-address">주소</label>
    			<input type="text" id="sample6_address_client" name="address" placeholder="주소" readonly="readonly" th:value="${member.client.address}">
   				<input type="text" id="sample6_detailAddress_client" name="detailAddress" placeholder="상세주소" th:value="${member.client.detailAddress}">
    			<input type="text" id="sample6_extraAddress_client" name="extraAddress" placeholder="참고항목" th:value="${member.client.extraAddress}">
                <!-- 카카오 확인 끝-->
                <label for="client-industry">산업 분야</label>
                <input type="text" id="client-industry" name="industry" th:value="${member.client.industry}"><br>
                <label for="client-foundeddate">설립일</label>
                <input type="date" id="client-foundeddate" name="foundedDate" th:value="${member.client.foundedDate}"><br>
                <label for="client-employeecount">사원 수</label>
                <input type="number" id="client-employeecount" name="employeeCount" th:value="${member.client.employeeCount}"><br>
                <label for="client-website">사이트 URL</label>
                <input type="text" id="client-website" name="website" th:value="${member.client.website}"><br>
                
            <div id="section6" class="section">
            <input type="hidden" id="selectedField" name="selectedField">
               <!-- 관련 기술 선택 섹션 -->
               <div class="field-section">
                  <h2>관심 분야</h2>
                  <p>관심 있는 업무 분야를 선택할 수 있습니다.(최소 1개 이상)</p>
                  <div class="field-buttons">
                     <div class="field-button" data-field="개발"
                        onclick="toggleField(this)">개발</div>
                     <div class="field-button" data-field="디자인"
                        onclick="toggleField(this)">디자인</div>
                     <div class="field-button" data-field="기획"
                        onclick="toggleField(this)">기획</div>
                     <div class="category-button" data-field="기타"
                        onclick="toggleField(this)">기타</div>
                  </div>
               </div>
            </div>

            <div id="section7" class="section">
               <input type="hidden" id="selectedCategory" name="selectedCategory">
               <!-- 관련 기술 선택 섹션 -->
               <div class="category-section">
                  <h2>관심 카테고리</h2>
                  <p>관심 있는 카테고리를 선택할 수 있습니다.(최소 1개 이상)</p>
                  <div class="category-buttons">
                     <div class="category-button" data-category="Web"
                        onclick="toggleCategory(this)">Web</div>
                     <div class="category-button" data-category="안드로이드"
                        onclick="toggleCategory(this)">안드로이드</div>
                     <div class="category-button" data-category="iOS"
                        onclick="toggleCategory(this)">iOS</div>
                     <div class="category-button" data-category="PC프로그램"
                        onclick="toggleCategory(this)">PC프로그램</div>
                     <div class="category-button" data-category="임베디드"
                        onclick="toggleCategory(this)">임베디드</div>
                     <div class="category-button" data-category="기타"
                        onclick="toggleCategory(this)">기타</div>
                  </div>
               </div>
            </div>
                
                <button class="submit-button" type="submit" >회원 정보 수정</button>
                <div class="errorMsg" th:if="${param.error}"><script>alert('회원가입에 실패했습니다.')</script></div>
            </form>
        </div>
        </main>
        </div>
        	<!-- Footer -->
	<footer>
	</footer>
	<div id="chat-container"></div>
</body>
<script>
function previewImage(input, previewId) {
    var file = input.files[0];
    var preview = document.getElementById(previewId);

    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            preview.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
}

$(document).ready(function () {
    $("#chat-container").load("/chat/view", function () {
        // 외부 스타일시트 처리
        $("#chat-container link[rel='stylesheet']").each(function() {
            var href = $(this).attr('href');
            $.get(href, function(css) {
                var modifiedCss = css.replace(/([^\r\n,{}]+)(,(?=[^}]*{)|\s*{)/g, "#chat-container $1$2");
                $('<style>').text(modifiedCss).appendTo('head');
            });
            $(this).remove(); // 원래의 link 태그 제거
        });

        // 인라인 스타일 처리
        $("#chat-container style").each(function() {
            var css = $(this).text();
            var modifiedCss = css.replace(/([^\r\n,{}]+)(,(?=[^}]*{)|\s*{)/g, "#chat-container $1$2");
            $(this).text(modifiedCss);
        });
    });
    
    $('header').load("/header", function () {
    	});
    $('nav').load("/nav", function () {
	});
    $('footer').load("/footer", function () {
	});
    $('aside').load("/aside", function () {
	});    
});

</script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>