<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROCONNECT</title>
    <link rel="stylesheet" th:href="@{/css/guestportfolio/content.css}">
    <link rel="stylesheet" th:href="@{/css/primary.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>

    <main class="portfolio-display">
        <div class="portfolio-header">
            <h2 class="portfolio-title"><span id="title" th:text="${freelancerPortfolios.portfolioTitle}"></span>
            </h2>
        </div>
        <div class="portfolio-content" th:utext="${freelancerPortfolios.portfolioDescription}">
            <!-- 여기에 저장된 내용이 표시됩니다 -->
        </div>
    </main>
</body>
</html>