/* 색상 팔레트 */
:root {
    --primary-color: #1A202C;    /* 매우 짙은 회색-블루 */
    --secondary-color: #4FD1C5;  /* 청록색 */
    --accent-color: #F6AD55;     /* 오렌지 */
    --highlight-color: #38B2AC;  /* 밝은 청록색 */
    --text-color: #2D3748;       /* 어두운 회색 */
    --background-color: #EDF2F7; /* 밝은 회색 배경 */
    --light-gray: #CBD5E0;       /* 중립적인 회색 */
    --border-color: #E2E8F0;     /* 테두리 색상 */
    --button-hover: #2C7A7B;     /* 버튼 호버 시 청록색 톤 */
}

/* 전체 화면 설정 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    font-family: 'Noto Sans', sans-serif;
}

/* 컨테이너 중앙 정렬 */
.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* 제목 스타일 */
h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* 탭 버튼 스타일 */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid var(--border-color);
    padding: 10px 30px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
    margin: 0 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.tabs button.active {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.tabs button:hover {
    background-color: var(--secondary-color);
    color: white;
    border-color: var(--secondary-color);
}

/* 탭 콘텐츠 */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
    width: 100%;
}

/* 폼 스타일 */
form {
    width: 100%;
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 30px); /* 입력 필드의 너비 설정 */
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9fafb;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: var(--highlight-color);
    outline: none;
    background-color: white;
}

/* 버튼 스타일 */
button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--button-hover);
}

.errorMsg {
    color: #e53e3e;
    font-size: 0.9rem;
    margin-top: 10px;
}
