@charset "UTF-8";

/* 네비게이션 */
.top-nav {
    background-color: var(--secondary-color);
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

.top-nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin: 0;
}

.top-nav ul li {
    margin: 0 20px;
}

.top-nav ul li a {
	text-decoration:none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.top-nav ul li a:hover {
    color: var(--accent-color);
}
