@charset "UTF-8";

/* 컨테이너 스타일 */
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 섹션 타이틀 스타일 */
.section-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--highlight-color);
  padding-bottom: 10px;
}

/* 프로젝트 카드 스타일 */
.post {
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.post:hover {
  transform: translateY(-5px);
}

.post .thumbnail {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.post .post-info {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post .title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.post .details {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.post .details i {
  margin-right: 8px;
  color: var(--highlight-color);
}

.post .details span {
  margin-right: 15px;
}

/* 프리랜서 카드 스타일 */
.partner-card {
  display: flex;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.partner-card:hover {
  transform: translateY(-5px);
}

.partner-card .partner-image {
  width: 200px;
  height: 210px;
  object-fit: cover;
  margin-right: 20px;
  /* 이미지 스타일 변경 없이 유지 */
}

.partner-card .partner-info {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partner-card .partner-id {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.partner-card .rating {
  font-size: 16px;
  color: #ffc107;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.partner-card .rating i {
  margin-right: 5px; /* 아이콘과 텍스트 간 간격 */
}

.partner-card .partner-stats {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.partner-card .partner-stats span {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.partner-card .partner-stats i {
  margin-right: 8px;
  color: var(--highlight-color);
}

.partner-card .skills {
  font-size: 14px;
  color: var(--secondary-color);
  background-color: #e7f5ff;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
}

.partner-card .details {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.partner-card .details i {
  margin-right: 8px;
  color: var(--highlight-color);
}

.partner-card .details span {
  margin-right: 15px;
}
