<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>PROCONNECT</title>
    <link rel="stylesheet" th:href="@{/css/footer.css}">
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
	<div class="container">
        <p>&copy; 2024 프리랜서 마켓플레이스. All rights reserved.</p>
        <p><a href="#">개인정보 처리방침</a> | <a href="#">이용 약관</a> | <a href="#">연락처</a></p>
    </div>
</body>
</html>