<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>PROCONNECT</title>
    <link rel="stylesheet" th:href="@{/css/mypage/sidebar.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
	<script th:src="@{/js/validation.js}"></script>
    <script th:src="@{/js/updateForm.js}" defer></script>
    <script th:src="@{/js/popup_2.js}"></script>
</head>
<body>
	<h2>개인정보 관리</h2>
		<div class="sidebar-section">
	        <ul>
	            <li><a th:href="@{/member/myPage}">개인정보 수정</a></li>
	        </ul>
	    </div>
	    <h2>프로젝트관리</h2>
		<div class="sidebar-section">
	        <ul>
	            <li><a th:href="@{/project/myproject?status=모집중}">모집중 프로젝트</a></li>
	            <li><a th:href="@{/project/myproject?status=진행중}">진행중 프로젝트</a></li>
	            <li><a th:href="@{/project/myproject?status=완료된}">완료된 프로젝트</a></li>
	        </ul>
	    </div>
	    <div sec:authorize="hasRole('ROLE_FREELANCER')">
		    <h2>포트폴리오 관리<button class="add-btn">
		            <a href="/portfolio/create" class="add-page-link">+</a>
		            </button></h2>
		    <div class="sidebar-section">
		        <ul>
		            <li th:each="portfolio : ${portfoliosList}"><a th:href="@{/portfolio/content?portfolioId={portfolioId}(portfolioId=${portfolio.portfolioId})}" th:text="${portfolio.portfolioTitle}"></a></li>
		        </ul>
		    </div>
	    </div>
</body>
<script>
function previewImage(input, previewId) {
    var file = input.files[0];
    var preview = document.getElementById(previewId);

    if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            preview.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
}
</script>

</html>