<!DOCTYPE html>
<html lang="ko"
		xmlns:th="http://www.thymeleaf.org"
      	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finders</title>
    <link rel="stylesheet" th:href="@{/css/portfolio/content.css}">
    <link rel="stylesheet" th:href="@{/css/primary.css}">
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
	<header></header>
	<nav class="top-nav"></nav>
	
	
	<div class="main-container">
		<aside class="sidebar"></aside>
		<main class="portfolio-display">
		    <h1 class="content-title">포트폴리오 관리</h1>
		    
		    <div class="portfolio-header">
		    <h2 class="portfolio-title">제목 : <span id="title" th:text="${freelancerPortfolios.portfolioTitle}"></span>
            </h2>
		        <div class="action-buttons">
		            <button class="btn btn-edit">편집하기</button>
		            <button class="btn btn-delete">삭제하기</button>
		        </div>
		    </div>
	        <div class="portfolio-content" th:utext="${freelancerPortfolios.portfolioDescription}">
            <!-- 여기에 저장된 내용이 표시됩니다 -->
            </div>
		</main>
    </div>
    <footer></footer>
    <div id="chat-container"></div>
</body>
<script>
$(document).ready(function () {
	$('.btn-edit').on('click', function() {
		window.location.href="/portfolio/edit?portfolioId=" + '[[${freelancerPortfolios.portfolioId}]]';
	});
	
	$('.btn-delete').on('click', function() {
		window.location.href="/portfolio/delete?portfolioId=" + '[[${freelancerPortfolios.portfolioId}]]';
	});

    $("#chat-container").load("/chat/view", function () {
        // 외부 스타일시트 처리
        $("#chat-container link[rel='stylesheet']").each(function() {
            var href = $(this).attr('href');
            $.get(href, function(css) {
                var modifiedCss = css.replace(/([^\r\n,{}]+)(,(?=[^}]*{)|\s*{)/g, "#chat-container $1$2");
                $('<style>').text(modifiedCss).appendTo('head');
            });
            $(this).remove(); // 원래의 link 태그 제거
        });

        // 인라인 스타일 처리
        $("#chat-container style").each(function() {
            var css = $(this).text();
            var modifiedCss = css.replace(/([^\r\n,{}]+)(,(?=[^}]*{)|\s*{)/g, "#chat-container $1$2");
            $(this).text(modifiedCss);
        });
    });
    
    $('header').load("/header", function () {
    	});
    $('nav').load("/nav", function () {
	});
    $('footer').load("/footer", function () {
	});
    $('aside').load("/aside", function () {
	});
});
</script>
</html>