<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CKEditor 5 Sample</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.css">
	</head>
	<body>
		<form id="editorForm" action="save" method="post">
		<button type="submit">save</button>
			<div>
				<div class="main-container">
					<div class="editor-container editor-container_document-editor" id="editor-container">
						<div class="editor-container__menu-bar" id="editor-menu-bar"></div>
						<div class="editor-container__toolbar" id="editor-toolbar"></div>
						<div class="editor-container__editor-wrapper">
							<div class="editor-container__editor">
									<textarea name="editorContent" id="editorContent" style="display:none;"></textarea>
									<div id="editor"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		

		<script type="importmap">
		{
			"imports": {
				"ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.0.0/ckeditor5.js",
				"ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.0.0/"
			}
		}

		</script>
		<script type="module" src="/js/main.js"></script>
	</body>
</html>